
<header>
    <form action="/" method="get">
        <button type="submit" class="btn btn-toolbar RedHover"id="HomeButton">

        </button>
    </form >

    <form action="/Find" method="get">
        <button type="submit" class="btn btn-toolbar RedHover" id="NavButton">

        </button>
    </form >




</header>