<%- include("./Partials/Header.ejs")%>


<%- include("./Partials/Navigation.ejs") %>

<div id="AboutHS " class="row text-center">

    <hr id="AboutHR" class="col-xxl-12 col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8 ">

    <p id="AboutMeP" class="text-center col-xxl-12 col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8 AboutMeRight">
        Hello, I am Ben Campbell, When I am not doing  <span class="Assets">Shaders/Shader Maths</span> or
        <span class="Assets">Mesh creation/VFX Simulations</span> or <span class="Assets">Texture Creation</span>
        <br>
        I am learning how to do <span class="Assets">New Things</span>, this involves but is not limited to
        <span class="Assets">Animation</span>, <span class="Assets">Programming</span>,
        <span class="Assets">Music/Sound FX</span> and <span class="Assets">More</span>
        <br>
        <br>
        Although the bulk of my time is spent learning how to make games,
        I actually also enjoy playing games, watching Movies/TV Shows and really just being a normal human being.
    </p>
    <p class="col-xxl-12 col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8 " id="AboutP" >
        I even <span class="Assets">Built</span> this Website
    </p>
    <hr id="AboutHR2" class="col-xxl-12 col-xl-10 col-lg-8 col-md-8 col-sm-8 col-8 ">




        <button id="AboutHB"><p><span>
                    Fun Fact
                </span></p></button>



</div>

<div class="row " id= "ExtraSkills" >

<section class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-center AboutMeRight">
    <h1>
        Software:
    </h1>
    <ul>
        <li class="AboutLIPos1">
        Maya
        </li>
        <li class="AboutLIPos1">
            Photoshop
        </li>
        <li class="AboutLIPos1">
            Unreal
        </li>
        <li class="AboutLIPos1">
        Houdini
        </li>
        <li class="AboutLIPos1">
            After FX
        </li>
        <li class="AboutLIPos1">
            Premiere Pro
        </li>
        <li class="AboutLIPos1">
            Substance Designer
        </li>
        <li class="AboutLIPos1">
            Substance Painter
        </li>
<!--        <li class="AboutLIPos1">-->
<!--            3DS Max-->
<!--        </li>-->


    </ul>
</section>
<section class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-center d-flex justify-content-center AboutMeRight ">
    <h1>
        Skills:
    </h1>
    <ul>
        <li class="AboutLIPos2">
            Flipbooks/Flipbook Creation
        </li>
        <li class="AboutLIPos2">
            Texture Creation
        </li>
        <li class="AboutLIPos2">
            Shaders/Shader Math
        </li>
        <li class="AboutLIPos2">
            Rigid body Simulations
        </li>
        <li class="AboutLIPos2">
            Flip Fluid Simulations
        </li>
        <li class="AboutLIPos2">
            Pyro Simulation
        </li>
        <li class="AboutLIPos2">
            Particles
        </li>
        <li class="AboutLIPos2">
            Modelling
        </li>
        <li class="AboutLIPos2">
            Animation
        </li>
        <li class="AboutLIPos2">
            Programming
        </li>
    </ul>
</section>


</div>


<%- include("./Partials/Footer.ejs") %>


