<%- include("./Partials/Header.ejs")%>


<%- include("./Partials/Navigation.ejs") %>


<div class="row g-0 Project2">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" >
        <p class="TitleText text-center"style=" height: 50px;">
            UNREAL/PHOTOSHOP/SUBSTANCE DESIGNER
        </p>
    </div>
</div>

<div class="row g-0 Project2">


    <form action="/Projects/Missile" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">

        <button type="submit" class="Projects container-fluid" id="ProjectMissile">

        </button>


        <p class="ButtonText"><a href="../Projects/Missile">MISSILE</a></p>
    </form>
    <form action="/Projects/Ocean" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">

        <button type="submit" class="Projects container-fluid" id="ProjectSea">

        </button>

        <p class="ButtonText"><a href="../Projects/Ocean">OCEAN</a></p>
        <!--   GERNSTER + FOAM/ potentially caustics "https://www.youtube.com/watch?v=UWGwq-_w08c&pp=ygUUZ2VybnN0ZXIgZm9hbSB1bnJlYWw%3D" for reference INTENDED FOR FUTURE potentially use scene depth or another method to change colour of below surface colours,
        if making waterfall, potentially mix mesh with particles falling to break the flat feeling-->
    </form>
    <form action="/Projects/Tornado" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">

        <button type="submit" class="Projects container-fluid">

        </button>
        <p class="ButtonText"><a href="../Projects/Tornado">TORNADO</a></p>
    </form>


    <!--</div>-->
    <!--    <div class="row g-0 Project2">-->


    <!--        <form action="/Projects/Lightning" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">-->

    <!--            <button type="submit" class="Projects container-fluid">-->
    <!--            </button>-->

    <!--            <p class="ButtonText"><a href="../Projects/Lightning">LIGHTNING</a></p>-->
    <!--        </form>-->

    <!--        <form action="/Projects/Shadow" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">-->

    <!--            <button type="submit" class="Projects container-fluid">-->
    <!--            </button>-->
    <!--            <p class="ButtonText"><a href="../Projects/Shadow">SHADOW TELEPORTATION</a></p>-->
    <!--        </form>-->
    <!--    </div>-->
    <!--    <div class="row g-0 Project2">-->



    <!--        <form action="/Projects/ChainLightning" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">-->

    <!--            <button type="submit" class="Projects container-fluid">-->

    <!--            </button>-->
    <!--            <p class="ButtonText"><a href="../Projects/ChainLightning">CHAIN LIGHTNING</a></p>-->
    <!--        </form>-->
    <!--        <form action="/Projects/Heal" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">-->

    <!--            <button type="submit" class="Projects container-fluid">-->

    <!--            </button>-->
    <!--            <p class="ButtonText"><a href="../Projects/Heal">HEAL</a></p>-->
    <!--        </form>-->

    <!--        <form action="/Projects/River" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">-->

    <!--            <button type="submit" class="Projects container-fluid">-->

    <!--            </button>-->
    <!--            <p class="ButtonText"><a href="../Projects/River">RIVER</a></p>-->
    <!--        </form>-->
    <!--    </div>-->
    <!--    <div class="row g-0 Project2">-->
    <!--        <form action="/Projects/BloodRiver" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">-->
    <!--            <button type="submit" class="Projects container-fluid">-->
    <!--            </button>-->
    <!--            <p class="ButtonText"><a href="../Projects/BloodRiver">BLOOD RIVER</a></p>-->
    <!--        </form>-->
    <!--        <form action="/Projects/Template" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">-->
    <!--            <button type="submit" class="Projects container-fluid">-->
    <!--            </button>-->

    <!--            <p class="ButtonText"><a href="../Projects/Template">RBD CHARACTER DASH</a></p>&lt;!&ndash;            I believe this can be achieved by hiding player, unhiding rbd pieces, rbd pieces come together, then unhide and hide reverse player and rbd pieces&ndash;&gt;-->
    <!--        </form>-->
    <!--        <form action="/Projects/Template" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">-->
    <!--            <button type="submit" class="Projects container-fluid">-->
    <!--            </button>-->

    <!--            <p class="ButtonText"><a href="../Projects/Template">MIND BENDING</a></p>&lt;!&ndash;         this means stuff like walls rotating etc, Change from Fish Eyes in front of a PC in game to inside of the pc, pc distortion and pc scanlines&ndash;&gt;-->
    <!--        </form>-->

    <!--    </div>-->

    <!--        <form action="/Projects/Sky" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 RescaleFormHome">&lt;!&ndash;        Sky Sphere/Cylinder, Clouds, Lightning Clouds, Rain, Time of Day&ndash;&gt;-->

    <!--            <button type="submit" class="Projects container-fluid" id="ProjectSky">-->

    <!--            </button>-->
    <!--            <p class="ButtonText"><a href="../Projects/Sky">SKY</a></p>-->
    <!--        </form>-->

    <br><br><br><br><br><br><br>
</div>



<%- include("./Partials/Footer.ejs") %>
