<%- include("./Partials/Header.ejs")%>

</head>
<body>
<form class="NavForm" method="get" action="/">
    <button type="submit" class="Navigation">
        <h1 class="IncreaseFontS NavText">
            HOME
        </h1>
    </button>
</form>
<form class="NavForm" method="get" action="/AboutMe">
    <button type="submit" class="Navigation" >
        <h1 class="IncreaseFontS2 NavText">
            ABOUT ME
        </h1>
    </button>
</form>



</body>
</html>
