<%- include("./Partials/Header.ejs")%>


<%- include("./Partials/Navigation.ejs") %>

<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>



<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>

<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="text-center ExplanationText">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale" alt="img">
</div>
<div id="" class="row DownABit">
    <p class="ExplanationText col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center d-flex justify-content-center ">
        sfaggdg
    </p>
</div>

<div id="" class="row DownABit">
    <img src="../Logo/favicon.ico" class="ImgScale col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center d-flex justify-content-center align-content-center" alt="img">
</div>

<%- include("./Partials/Footer.ejs") %>
